<div style="padding-left: 40px;margin-top: 20px;">
    <form class="layui-form" action="" method="post" style="margin: 50px auto; width: 580px">

        <div class="layui-form-item">
            <label class="layui-form-label">硬件编码</label>
            <div class="layui-input-inline">
            </div>
            <div class="layui-form-mid layui-word-aux"> {{.Detail.hardware_code}}</div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">序列号</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入序列号" class="layui-textarea" name="serialCode"
                          id="serialCode">{{.Detail.serial_code}}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">有效期</label>
            <div class="layui-input-inline">
            </div>
            <div class="layui-form-mid layui-word-aux"> {{.Detail.valid_time}}</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">说明</label>
            <div class="layui-input-inline">
            </div>
            <div class="layui-form-mid layui-word-aux"> {{.Detail.remark}}</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>


<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;

        form.on('submit(sub)', function (data) {
            var form_data = data.field;
            $.post('{{urlfor "SerialController.AjaxSave"}}', form_data, function (out) {
                if (out.status === 0) {
                    layer.msg("更新注册码成功", {icon: 1}, function () {
                        window.location.href = './detail'
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false;
        });
        form.render();
    });
</script>
