<div style="padding-left: 40px;margin-top: 20px;">
    <form class="layui-form" action="" method="post">
        <input type="hidden" id="id" name="id" value="{{.Source.id}}">
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">节目ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="channelID" id="channelID" lay-verify="required" autocomplete="off"
                           placeholder="节目ID" class="layui-input" value="{{.Source.channelID}}">
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">节目名称</label>
                <div class="layui-input-inline" style="width: 400px">
                    <input type="text" name="name" id="name" lay-verify="required" autocomplete="off" placeholder="节目名称"
                           class="layui-input" value="{{.Source.name}}">
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">拉流模式</label>
                <div class="layui-input-inline">
                    <select name="mode" id="mode" lay-verify="required" lay-search="" style="width: 100%"
                            lay-filter="modeChange">
                        <option value="single" {{if eq "single" $.Source.mode}} selected {{end}}>默认网关拉流</option>
                        <option value="group" {{if eq "group" $.Source.mode}} selected {{end}}>指定网卡拉流</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>


            <div class="layui-inline">
                <label class="layui-form-label">源流地址</label>
                <div class="layui-input-inline" style="width: 400px">
                    <input type="text" name="src" id="src" lay-verify="required" autocomplete="off" placeholder="源流地址"
                           class="layui-input" value="{{.Source.src}}">
                </div>
            </div>
        </div>

        <div class="layui-form-item group-container dp-n">

            <div class="layui-inline">
                <label class="layui-form-label">组播PID</label>
                <div class="layui-input-inline">
                    <input type="text" name="program" id="program"  autocomplete="off"
                           placeholder=""
                           class="layui-input" value="{{.Source.program}}">
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">组播网卡</label>

                <div class="layui-input-inline">
                    <select name="netcardin"  lay-search="" style="width: 100%">
                        <option value="*">*(all)</option>
                        {{range $index,$elem := .netcards}}
                            <option value="{{$elem.Name}}" {{if eq $elem.Name $.Source.netcardin}} selected {{end}} > {{$elem.Name}}({{$elem.Ip}})</option>
                        {{end}}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">单播</label>
                <div class="layui-input-inline">
                    <select name="single" lay-verify="required" lay-search="" style="width: 100%">
                        <option value="on" {{if eq "on" $.Source.single}} selected {{end}}>ON</option>
                        <option value="off" {{if eq "off" $.Source.single}} selected {{end}}>OFF</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">组播</label>
                <div class="layui-input-inline">
                    <select name="group" lay-verify="required" lay-search="" style="width: 100%"
                            lay-filter="groupChange">
                        <option value="off" {{if eq "off" $.Source.group}} selected {{end}}>OFF</option>
                        <option value="on" {{if eq "on" $.Source.group}} selected {{end}}>ON</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>
        </div>

        <div class="layui-form-item group-out-container dp-n">

            <div class="layui-inline">
                <label class="layui-form-label">组播输出</label>
                <div class="layui-input-inline">
                    <input type="text" name="groupurl" id="groupurl"   autocomplete="off"
                           placeholder=""
                           class="layui-input" value="{{.Source.groupurl}}">
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">输出网卡</label>

                <div class="layui-input-inline">
                    <select name="netcard"  lay-search="" style="width: 100%">
                        <option value="*">*(all)</option>
                        {{range $index,$elem := .netcards}}
                            <option value="{{$elem.Name}}" {{if eq $elem.Name $.Source.netcard}} selected {{end}}> {{$elem.Name}}({{$elem.Ip}})</option>
                        {{end}}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">回看</label>
                <div class="layui-input-inline">
                    <select name="vod" lay-verify="required" lay-search="" style="width: 100%">
                        <option value="off" {{if eq "off" $.Source.vod}} selected {{end}}>OFF</option>
                        <option value="on" {{if eq "on" $.Source.vod}} selected {{end}}>ON</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">时移</label>
                <div class="layui-input-inline">
                    <select name="tsoc"  lay-search="" style="width: 100%">
                        <option value="off" {{if eq "off" $.Source.tsoc}} selected {{end}}>OFF</option>
                        <option value="on" {{if eq "on" $.Source.tsoc}} selected {{end}}>ON</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">*</div>
            </div>

            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">音频转码</label>
                    <div class="layui-input-inline">
                        <select name="toaac"  lay-search="" style="width: 100%">
                            <option value="off" {{if eq "off" $.Source.toaac}} selected {{end}}>OFF</option>
                            <option value="on" {{if eq "on" $.Source.toaac}} selected {{end}}>ON</option>
                        </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux">*</div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;

        form.on('submit(sub)', function (data) {
            var form_data = data.field;
            $.post('{{urlfor "ChannelController.AjaxSave"}}', form_data, function (out) {
                if (out.status === 0) {
                    layer.msg("操作成功", {icon: 1}, function () {
                        window.location.href = './list'
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false;
        });

        form.on("select(modeChange)", function (data) {
            if (data.value === "group") {
                $(".group-container").show();
            } else {
                $(".group-container").hide();
            }
            // form.render('select');
        });
        form.on("select(groupChange)", function (data) {
            if (data.value === "on") {
                $(".group-out-container").show();
            } else {
                $(".group-out-container").hide();
            }
            //form.render('select');
        });

        {{if eq "group" $.Source.mode}}
        $(".group-container").show();
        {{end}}

        {{if eq "on" $.Source.group}}
        $(".group-out-container").show();
        {{end}}

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });
</script>