<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs6">
            <a class="layui-btn" id="add_channel">新增</a>
            <a class="layui-btn" id="start_channel">批量启动</a>
            <a class="layui-btn" id="stop_channel">批量停止</a>
            <a class="layui-btn" id="delete_channel">批量删除</a>
        </div>
        <div class="layui-col-xs6 search_text">
            <form class="layui-form" action="" onsubmit="javascript:return false;">
                <div class="demoTable">
                    <div class="layui-inline" style="width: 40%;display: none">
                        <input class="layui-input " name="name" id="name" autocomplete="off" placeholder="节目名称">
                    </div>
                    <button class="layui-btn" data-type="reload">查询</button>
                </div>
            </form>

        </div>
    </div>
    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="start" data-method="notice">启动</a>
        <a class="layui-btn layui-btn-xs" lay-event="stop" data-method="notice">停止</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<script>
    layui.use(['table', 'form', 'element', 'layer'], function () {
        var table = layui.table;
        var form = layui.form;
        var element = layui.element;

        //方法级渲染
        table.render({
            elem: '#table_list'
            , url: './all'
            , cols: [[
                {type: 'checkbox'},
                {field: 'id', title: '节目ID', align: 'center', sort: false, width: 120}
                , {field: 'name', title: '节目名称'}
                , {field: 'src', title: '源流地址'}
                , {
                    field: 'group', width: 60, title: '组播', templet: function (d) {
                        return Snow.getOnOrOff(d.group);
                    }
                }
                , {
                    field: 'single', width: 60, title: '单播', templet: function (d) {
                        return Snow.getOnOrOff(d.single);
                    }
                }
                , {
                    field: 'vod', width: 60, title: '回看', templet: function (d) {
                        return Snow.getOnOrOff(d.vod);
                    }
                }
                , {
                    field: 'tsoc', width: 60, title: '时移', templet: function (d) {
                        return Snow.getOnOrOff(d.tsoc);
                    }
                }
                , {
                    field: 'toaac', width: 100, title: '音频转码', templet: function (d) {
                        return Snow.getOnOrOff(d.toaac);
                    }
                }
                , {
                    field: 'demux', width: 100, title: '节目状态', templet: function (d) {
                        return Snow.getDemux(d.demux);
                    }
                }, {
                    field: 'cur_group', width: 100, title: '组播状态', templet: function (d) {
                        return Snow.getStartOrStop(d.cur_group);
                    }
                }, {
                    field: 'cur_single', width: 100, title: '单播状态', templet: function (d) {
                        return Snow.getStartOrStop(d.cur_single);
                    }
                }, {
                    field: 'cur_vod', width: 100, title: '回看状态', templet: function (d) {
                        return Snow.getStartOrStop(d.cur_vod);
                    }
                }
                , {fixed: 'right', width: 210, align: 'center', toolbar: '#bar'}
            ]]
            , id: 'listReload'
            , page: false
            , height: "full-130"
        });

        var $ = layui.$, active = {
            reload: function () {
                table.reload('listReload', {
                    where: {
                        sourceName: $('#sourceName').val(),
                    }
                });
            }
        };

        window.getCheckId = function () {
            var checkStatus = table.checkStatus('listReload'), data = checkStatus.data, arr = [];
            for (var i = 0; i < data.length; i++) {
                arr.push(data[i].id);
            }
            return arr.toString();
        };

        window.batchOpen = function (act, title) {
            var ids = getCheckId();
            layer.open({
                type: 2,
                shade: 0.3,
                id: 1,
                title: title,
                content: act + '?ids=' + ids,
                area: ['480px', '210px'],
            });
        };

        $("#add_channel").on("click", function () {
            window.location.href = "./add"
        });

        $("#start_channel").on("click", function () {
            batchOpen('{{urlfor "ChannelController.BatchActionStart"}}', "批量启动");
        });

        $("#stop_channel").on("click", function () {
            batchOpen('{{urlfor "ChannelController.BatchActionStop"}}', "批量停止");
        });

        $("#delete_channel").on("click", function () {
            var ids = getCheckId();
            layer.confirm('真的删除[' + ids + ']这些频道么', function (index) {
                var jsData = {'ids': ids};
                $.post('{{urlfor "ChannelController.AjaxBatchDelete"}}', jsData, function (out) {
                    if (out.status === 0) {
                        layer.alert('删除成功了', {icon: 1}, function (index) {
                            layer.close(index);
                            window.location.reload();
                        });
                    } else {
                        layer.msg(out.message)
                    }
                }, "json");
                obj.del();
                layer.close(index);
            });

        });


        //监听工具条
        table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'start') {
                layer.open({
                    type: 2,
                    shade: 0.3,
                    id: 1,
                    title: "启动-" + data.name,
                    content: '{{urlfor "ChannelController.ActionStart"}}?id=' + data._id.$oid,
                    area: ['480px', '210px'],
                });
            } else if (obj.event === 'stop') {
                layer.open({
                    type: 2,
                    shade: 0.3,
                    id: 1,
                    title: "停止-" + data.name,
                    content: '{{urlfor "ChannelController.ActionStop"}}?id=' + data._id.$oid,
                    area: ['480px', '210px'],
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除【' + data.name + '】频道么', function (index) {
                    var jsData = {'id': data._id.$oid};
                    $.post('{{urlfor "ChannelController.AjaxDel"}}', jsData, function (out) {
                        if (out.status === 0) {
                            layer.alert('删除成功了', {icon: 1}, function (index) {
                                layer.close(index);
                                window.location.reload();
                            });
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                window.location.href = './edit?id=' + data._id.$oid
            }
        });

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>


